//Fonts

//alegreya sans 100 400 500 700
$font-body: "Alegreya Sans", sans-serif;

//athiti 200 400 500 600 700
$font-higlight: "Athiti", sans-serif;

//pt sans only have 400 and 700
$font-logo: "PT Sans", sans-serif;

// color palette
$background-color: #ffffff;

$font-change: #ff764d;
$blue: #0000ff;

$light-blue: #b1c5ff;
$light-pink: #d5b3ff;
$light-yellow: #fbffa7;
$light-green: #b6ffc0;
