@use "reset";
@use "variables" as *;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: $background-color;
}
.header {
  display: flex;
  width: 100%;
  height: 60px;
  // margin-bottom: 1rem;
}

.ul-header {
  width: 70%;
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  list-style: none;
  &__li {
    font-family: $font-higlight;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }
  &__more {
    color: $font-change;
    &::after {
      content: "";
    }
  }
}
.logo {
  height: 2.1rem;
}
.ul-account {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  list-style: none;
  position: relative;
  left: 2.5rem;
  &__li {
    font-family: $font-higlight;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
  }
}

.try-free {
  color: $blue;
  font-size: 1.2rem;
}

.nav-top {
  display: flex;
  align-items: center;
  height: 3.75rem;
  width: 100%;
  &__ul {
    display: flex;
    height: 3.75rem;
    align-items: center;
    column-gap: 1.875rem;
    list-style: none;
    &--li {
      font-family: $font-higlight;
      font-weight: 600;
    }
  }
}

.img-header {
  width: 80vw;
  overflow: hidden;
}

.sect-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 8rem;
  &__h2 {
    font-family: $font-body;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: 0.0938rem;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    aspect-ratio: 16/9;
    background-image: url(./images/img-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 8rem;
  }
  &__p {
    font-size: 1.2rem;
    font-family: $font-body;
  }
}

.blue-notation {
  color: $blue;
}
.text-wrapper {
  width: 79.3%;
}

.ableton {
  color: $font-change;
  font-weight: bold;
  font-family: $font-logo;
}
.imgs-grid {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.imgs {
  position: relative;
  // left: 2rem;
  width: 100vw;
  height: 58vw;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  margin-bottom: 8rem;
  align-content: end;
  &__yellow {
    background-color: $light-yellow;
    grid-column: 2/5;
    grid-row: 1/5;
    position: relative;
    left: 10vw;
  }

  &__left {
    position: relative;
    width: 32vw;
    height: 22vw;
    left: 8vw;
    background-color: brown;
    background-image: url(./images/2.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: center;
    justify-self: end;
  }

  &__right {
    background-color: rgb(67, 67, 168);
    background-image: url(./images/3.jpg);
    background-size: cover;
    position: relative;
    width: 40vw;
    height: 43vw;
    // top: 5vmin;
    left: 10vw;
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

.sect-yellow {
}
.sect {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
  &__h2 {
    font-size: 1.6rem;
    font-family: $font-body;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: 0.0938rem;
    margin-bottom: 1rem;
  }
  &__p {
    font-size: 1.2rem;
    font-family: $font-body;
  }
}
.img-video {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // position: absolute;
}

.video {
  width: 77.3%;
  position: relative;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.play-btn {
  position: absolute;
  top: 16vw;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  z-index: 10;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    left: 2.6vw;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg);
  }
}
.small-vid {
  position: relative;
  text-align: left;
  bottom: 7rem;
  left: 1rem;
  font-size: 0.7rem;
  font-family: $font-higlight;
  font-weight: 600;
  width: 77.3%;
}

.div-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.lg-g {
  display: grid;
  grid-template-rows: repeat(5, 15vw);
  grid-template-columns: 2fr 3fr 2fr;
  justify-content: start;
  position: relative;
  right: 1rem;
  width: 100vw;
  // height: 170vw;
  margin-bottom: 8rem;
  // overflow: auto;
  &__green {
    background-color: $light-green;
    grid-row: 1/6;
    grid-column: 1/3;
    position: relative;
    right: 15vw;
  }
  &__left-top {
    position: relative;
    width: 34vw;
    height: 25vw;
    left: 9vw;
    bottom: 6vw;
    z-index: 10;
    background-color: gray;
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url(./images/5.webp);
    background-size: cover;
  }
  &__left-bottom {
    width: 34vw;
    height: 25vw;
    position: relative;
    left: 9vw;
    bottom: 3vw;
    z-index: 10;
    background-color: gray;
    grid-row: 4/5;
    grid-column: 1/2;
    background-image: url(./images/8.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
  }
  &__right {
    background-color: lightblue;
    position: relative;
    width: 41.5vw;
    height: 42vw;
    overflow: auto;
    left: 17vw;
    bottom: 13vw;
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url(./images/6.webp);
    background-size: cover;
  }
}

.img-vid2 {
  margin-bottom: 8rem;
  position: relative;
  &__img {
    width: 80vw;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}

.play-btn2 {
  position: absolute;
  top: 16vw;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  z-index: 10;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &::before {
    content: "";
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    left: 2.5vw;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg);
  }
}

.small-vid2 {
  font-size: 0.7rem;
  font-weight: 600;
  font-family: $font-higlight;
}

.mb-1 {
  margin-bottom: 1rem;
}

.lg-p {
  display: grid;
  grid-template-columns: 9.09vw 27.27vw 18.18vw 27.27vw 9.09vw;
  grid-template-rows: 10.7692vw 5.3846vw 26.923vw 5.3846vw 10.7692vw;
  justify-content: start;
  position: relative;
  width: 90vw;
  margin-bottom: 9rem;
  &__pink {
    background-color: $light-pink;
    grid-column: 2/5;
    grid-row: 1/6;
  }
  &__left {
    background-color: rebeccapurple;
    grid-column: 1/3;
    grid-row: 3/4;
  }
  &__right {
    background-color: purple;
    grid-column: 4/6;
    grid-row: 2/5;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 70vw;
  margin-bottom: 8rem;
}

.lg-b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80vw;
  aspect-ratio: 14/7;
  margin-bottom: 8rem;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__blue {
    background-color: $light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--p {
      font-size: 1.5rem;
      font-family: $font-body;
      width: 65%;
      letter-spacing: 0.05rem;
      text-align: start;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    &--a {
      width: 65%;
      text-align: start;
      font-family: $font-body;
      font-size: 1.5rem;
      font-weight: 600;
      display: block;
      text-decoration: none;
      color: $blue;
      &::after {
        content: "\00a0›";
        margin-left: 0.4rem;
        font-size: 1.7rem;
        color: inherit;
        font-weight: 600;
      }
    }
  }
}

.footer {
  width: 90%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.ableton-footer {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 5rem;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  width: 100%;
}

.link-wrapper {
  width: 350px;
}

.link {
  font-family: $font-body;
  font-size: 1.2rem;
  display: block;
  color: black;
  text-decoration: none;
  &::after {
    content: "\00a0›";
    margin-left: 0.4rem;
  }
}

.education-wrapper {
  width: 350px;
}

.newsletter-wrapper {
  width: 480px;
}

.newsletter {
  &__p {
    width: 100%;
    font-size: 1rem;
  }
}

.form-input {
  height: 2rem;
  margin-top: 0.7rem;
  font-size: 1.2rem;
  &__email {
    height: 100%;
    margin-right: -5px;
    padding-left: 1rem;
    border: none;
    border-radius: 0;
    background-color: #eeeeee;
    width: 70%;
    font-family: $font-body;
    &:focus {
      border-color: $blue;
    }
  }
  &__btn {
    height: 100%;
    border: none;
    background-color: $blue;
    color: #ffffff;
    font-family: $font-body;
    font-weight: 500;
    width: 25%;
    cursor: pointer;
  }
}

.footer-d {
  font-size: 1.3rem;
  font-family: $font-body;
  font-weight: 500;
}

.select-wrapper {
  width: 350px;
}

.select {
  height: 2rem;
  margin-top: 0.7rem;
  display: inline;
  width: 30%;
  border: none;
  background-color: #eeeeee;
  border-radius: 0;
  font-family: $font-body;
}

.select option {
  border: none;
  border-radius: 0;
  font-weight: 700;
}
.select-contry {
  width: 65%;
  border: none;
  border-radius: 0;
  background-color: #eeeeee;
}

.select-contry option {
  font-weight: 500;
}

.small-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: $font-higlight;
  font-weight: 500;
}
.contact-small {
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.small {
  // display: inline;
  cursor: pointer;
}

.signature {
  width: 150px;
  display: flex;
  &__img {
    margin-left: 0.5rem;
    display: inline;
    cursor: pointer;
  }
}
.separator-header {
  width: 100vw;
  height: 0;
  border-top: 2px solid #eee;
}

.separator {
  width: 100vw;
  height: 0;
  border-top: 2px solid #eee;
  margin-bottom: 4rem;
}
